@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500&display=swap");
@import "tailwindcss";

@layer 
base
 {
 /*  *, *::before, *::after {
    
box-sizing: border-box;
  } */

  * {
    
margin: 0;
    
padding: 0;
    
box-sizing: border-box;
  }

  html {
    
font-family: 'Poppins', sans-serif;
    /* color: #333; */
    
  }
  html, body {
  overflow-x: hidden;
}
}

body{
	background-image: url(imgs/bg-1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 70%;
	height: 100vh;
}